{% comment %}
  Renders loading-spinner.
  Accepts:
    - class: {string} css classes to replace the default ones (optional)

  Usage:
  {% render 'loading-spinner' %}
{% endcomment %}

{{ 'component-loading-spinner.css' | asset_url | stylesheet_tag }}

<div class="loading__spinner hidden">
  <svg class="spinner" viewBox="0 0 50 50">
  <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
</svg>
</div>
