{{ 'featured-section.css' | asset_url | stylesheet_tag }}

<div class="featured">
  <div class="featured__icon-cart">
    {% render 'icon-cart' %}
    <div class="featured__icon-cart--bottom">
      <span class="cart-item-count">{{ cart.item_count }}</span>
      {% comment %} &nbsp;items {% endcomment %}
    </div>
  </div>
  <h1 class="featured__header">{{ section.settings.title }}</h1>
  <ul class="featured__list">
    {%- for product in collections.frontpage.products -%}
      {% assign not_in_cart = true %}
      {% for item in cart.items %}
        {% if item.product.id == product.id %}
          {% assign not_in_cart = false %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if not_in_cart %}
        {% render 'featured-product', product: product %}
      {% endif %}
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Products",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
