{{ 'featured-section.css' | asset_url | stylesheet_tag }}

<div class="featured">
  <a href="/cart" class="featured__icon-cart">
    {% render 'icon-cart' %}
    <div class="featured__icon-cart--number">
      {{ cart.item_count }}
    </div>
  </a>
  <h1 class="featured__header">{{ section.settings.title }}</h1>
  <ul class="featured__list">
    {%- for product in collections.frontpage.products -%}
      {% assign not_in_cart = true %}
      {% for item in cart.items %}
        {% if item.product.id == product.id %}
          {% assign not_in_cart = false %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if not_in_cart %}
        {% render 'featured-product', product: product %}
      {% endif %}
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}
